EXPO_PUBLIC_FIREBASE_API_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN="postech-tech-challenge.firebaseapp.com",
EXPO_PUBLIC_FIREBASE_PROJECT_ID="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
EXPO_PUBLIC_FIREBASE_APP_ID="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"   